

<section class="vh-100 gradient-custom" style="color: beige;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center  align-items-center h-100 ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 20px; width: 380px;">
            <div class="card-body p-5 text-center">
  
              <div class="login" >
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2><br>
                <div class="form-outline form-white mb-4">
                  
                  <input   type="username" id="form2Example11" class="form-control"
                  placeholder="Username" />
                  
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="form2Example11" class="form-control"
                  placeholder="Password" />
                </div> 
  
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label> <br> <br>
                  </div>
                 
                </div>
  
                <div class="text-center ">
                <button  class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" style="width: 300px;background: linear-gradient(to left, #ff9933 0%, #ff99cc 100%); border-color: #ffffff; border-radius: 20px;" routerLink="home-page">LOG IN
                </button> <br>
                <p style="color: rgb(144, 139, 139);">Forget Password</p>
                </div>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
              <div>
                <p class="mb-0" >Not a member?  <a href="#!" class="text-black-50 fw-bold" style="color: rgb(12, 12, 12);" >Sign Up Now</a> </p> 
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
