<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">Devkit.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="">Account</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="">About</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="">Service</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="">Contact</a></li>
                </ul>
               
            </div>
        </div>
    </nav>
</body>
    
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsla(0, 0%, 98%, 0.955);
        
  
      
  
      
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(0, 0%, 5%)">
            Welcome to<span style="color: blue;">Devkit.</span>  <br />
            <span style="color: hsl(216, 56%, 2%)">Develop anything.</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(225, 3%, 28%)">
            Build a beautiful,modern website with flexible components built from scratch.
          </p>
          <button type="submit" style="background-color: blue; color: white; border: none; padding: 10px 20px; font-size: 18px; margin-right: 10px;">
            View all pages &rarr;
          </button>
          <button type="submit" style="background-color: rgb(199, 199, 241); color: rgb(75, 9, 231); border: none; padding: 10px 20px; font-size: 18px;">
            Documentation
          </button>
          
          
          


        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          
          <img src="assets/image1.png" alt="" style="height: 500px;width: 500px;">
        </div>
      </div>
    </div>
  </section>